body {
    background: rgb(255, 255, 255);
  }
  
#form {
    padding: 80px;
    text-align: center;
    background-color: rgb(133, 133, 133);
    width: 200px;
    margin: auto;
    margin-top: 300px;
    border-radius: 40px;
    box-shadow: 1px 1px 1px 1px black;
}
.button{
    border-radius: 30px;
    background-color: grey;
    color: white;
}